$highlight: #5f8c02;
$dark-text: #111111;
$light-text: #F1F1F1;



html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: none;
    margin: 0;
    padding: 0;
}


/*---------------------------------------
    Typorgraphy              
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.8rem;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.6rem;
  line-height: 36px;
}

h5 {
    letter-spacing: 0.0625rem;
    padding-top: 101rempx;
}

p {
    color: $dark-text;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

a {
  text-decoration: none !important;
  outline: none;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 3.2rem;
}

img {
  display: block;
  max-width: 100%;
}

#overview,
#register {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

#detail, #video,
#speakers, 
#program,
#sponsors, 
#contact, footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
#speakers, #sponsors,
footer {
  text-align: center;
}

#overview h3,
#detail h3, #video h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 1.2rem;
}

#intro .btn,
#contact .btn {
    background: transparent;
    border: 0.2rem solid $dark-text;
    border-radius: 0;
    color: $dark-text;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    font-size: 1.2rem;
    padding: 1.4rem 4.2rem;
    margin-top: 4.2rem;
    margin-right: 1.2rem;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#intro .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#contact .btn {
  border-radius: 10rem;
}

#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#contact .btn-danger:hover {
  background: #222;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 5rem;
  height: 5rem;
  background-color: $highlight;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section              
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
}

.custom-navbar .navbar-brand {
    font-weight: 600;
    height: 7.2rem;
    background-color: transparent;
}

.custom-navbar .nav li a {
    color: $light-text;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 7.2rem;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    color: $highlight;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    color: $highlight;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 1rem;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: transparent;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 2rem 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: transparent;
        padding: 0;
    }

}



/*---------------------------------------
    Intro section              
-----------------------------------------*/
#intro {
    // background: url('../images/intro-bg.jpg') 50% 0 repeat-y fixed;
    background: url('../images/grain-silo-bg.jpg') 0 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: $light-text;
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    text-align: left;

    color: $light-text;

    .btn-default {
      border-color: $light-text;
      color: $light-text;

      .fas {
        color: $light-text;
      }

      &:hover {
        background: $highlight;
        color: $light-text;
        border-color: transparent;
      }
      
    }
}

#intro h3 {
  letter-spacing: 2px;
}



/*---------------------------------------
   Overview  section              
-----------------------------------------*/
#overview img {
  position: relative;

  box-shadow: 10px 10px 5px 0px rgba(230,230,230,1);
}



/*---------------------------------------
    Detail section              
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#detail .row div {
  flex: 1;
}

#detail .fa {
  color: $highlight;
  font-size: 4.8rem;

  margin-top: 3rem;
}

#detail p {
  color: $light-text;
}



.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}
.tab-content {
  padding-top: 20px;
}



/*---------------------------------------
    Regsiter section              
-----------------------------------------*/
#register {
    background: url('../images/register-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: $light-text;
}

#register p {
  color: $light-text;
}

#register .form-control {
  background: transparent;
  border: 0.2rem solid $light-text;
  border-radius: 0px;
  color: $light-text;
  margin-bottom: 1.6rem;
}

#register input {
  height: 4.5rem;
}

#register input[type="submit"] {
  background: $highlight;
  border-radius: 10rem;
  border: none;
  color: $light-text;
  letter-spacing: 0.2rem;
  height: 5rem;
  margin-top: 1.2rem;
  transition: all 0.4s ease-in-out;
}

#register input[type="submit"]:hover {
  background: $light-text;
  color: $dark-text;
}

/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact {
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
}

#contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 0.0625rem solid #f0f0f0;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 1.6rem;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 4.5rem;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 10rem;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 5rem;
  margin-top: 1.2rem;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: $highlight;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color: #222;
  bottom: 2rem;
  right: 2rem;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: $highlight;
    color: #ffffff;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: $dark-text;
    border-radius: 10rem;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: $highlight;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 1.3rem;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    line-height: 7.2rem;
  }

  #intro { height: 65vh; }

  #video iframe {
    margin-top: 4.2rem;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 2rem;
  }

  #overview img,
  #detail .col-md-4,
  #register form {
    padding-top: 3.2rem;
  }

  .nav-tabs > li > a {
    font-size: 1.3rem;
  }

  #program img {
    padding-bottom: 3.2rem;
  }

  #sponsors img {
    padding-top: 2.2rem;
  }

  #contact .contact_detail {
    margin-top: 8.2rem;
  }

}

@media (max-width: 760px) {

  #intro {
    height: 100vh;
  }

}

// Color Icons 

.fas {
  color: $highlight;
} 

